
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shard styles */
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}


/* dark 01 */
.text-black{
    color: #131313;
    
}

/* dark 02 */
.text-gray{
    color: #424242;
    
}

/* dark 03 */
.text-light-gray{
    color: #727272;
    line-height: 26px;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-primary-color{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}


/* header styles */

/* navber styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-size: 400;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */

.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}

.banner-title{
    font-size: 3.5rem;
}
.banner-image{
    width: 100%;
}


/* team and feature telated style */
.teams{
    align-items: center;
    margin-bottom: 130px;
    
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}


.feature-discription{
    font-size: 1.2rem;
    line-height: 28px;
    margin-bottom: 32px;
}

/* enjoy features */

.enjoy-contant{
    max-width: 1440px;
    margin: 130px auto;
    
}
.enjoy-container{
    width: 586px;
    margin-right: 54px;
}
.enjoy-image{
    margin-left: 92px;
}
.enjoy-container-title{
    max-width: 468px;
    font-size: 3rem;
    font-weight: 800;
    line-height: 60px;
    margin-top: 0;

}
.container-discription{
    margin-bottom: 40px;
}

.enjoy-title{
    font-size: 1.4rem;
    margin-top: 30px;
    margin-bottom: 10px;

}
.enjoy-box{
    width: 586px;
    height: 171px;
    padding: 10px 40px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  rgba(156, 156, 156, 0.2);
    margin-bottom: 20px;
}

/* some facts related style */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-discription{
    max-width: 540px;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 40px;
}

/* sponsers related styles */
.sponser-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsors-companis img{
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-link, .teams, .enjoy-contant{
        flex-direction: column;
    }
    .team-image-container,
    .facts-container,
    .sponsors-companis{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container, .sponsors-companis{
        justify-items: center;
        gap: 24px;
    }
    
    .our-features{
        margin-left: 20px;
    }
    .enjoy-contant{
        margin-left: 30px;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .facts-container, .sponsors-companis{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
          
    }
   
    .section-title, .fact-discription{
        text-align: center;
        margin: 20px auto 40px auto;
    }
}